* {
  box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
    /*outline: 2px solid tomato;*/

    max-width: 320px;
    padding: 0 16px 0 16px;
       

}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
    margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    color: var(--NAVY-BLUE, #2E2F42);

    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
}

p {
    /* Body */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

h2 {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
    
        /* Header 2 */
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/*-----------------*/

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  max-width: 1440px;
  /*position: relative;*/
}

/*--------------------------*/

#categories {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  gap: 24px;
  max-width: 392px;
}

.item > h2 {
  text-align: left;
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.96px;
  margin-bottom: 16px;
}

.item {
  border-radius: 8px;
  background: #F6F6FE;
  padding: 16px;
}

.item > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item > ul > li {
  color: #2E2F42;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
}

/*--------------------------*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  /*margin: 100px 156px;*/
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.gallery > li {
  width: calc((100% - 24px*2)/3);
  height: 300px;
}

.gallery > li > img{
  object-fit: cover;
  display: block;
  max-width: 100%;
  height: 300px;
}

/*---------------------------*/

#name-input {
  width: 360px;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #808080;
color: #2E2F42;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
padding: 8px 16px;
margin-bottom: 16px;
margin-top: 16px;
}

#name-output, h1 {
  color: #2E2F42;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 133.333% */
letter-spacing: 0.96px;
}

/*---------------------------*/

.login-form {
  max-width: 408px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 8px;
background: #FFF;
padding: 24px;
}

.login-form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2E2F42;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
width: 100%;
}

.login-form > label > input {
  height: 40px;
  border-radius: 4px;
border: 1px solid #808080;
margin-bottom: 8px;
transition: border 0.6s;
}

.login-form > label > input:hover {
  border: 1px solid #000;
}

.login-form > button {
  border-radius: 8px;
background: #4E75FF;
display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
border: none;

color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
transition: background-color 0.6s;
}

.login-form > button:hover {
  background: #6C8CFF;;
}

/*---------------------------*/

.widget {
  background-color: white;
  width: 280px;
  height: 245px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
}

.widget > p, .widget > span {
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
}

.change-color {
padding: 8px 16px;
border-radius: 8px;
background: #4E75FF;
border-color: #4E75FF;
color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.64px;
cursor: pointer;
transition: background-color 0.6s, border-color 0.6s, color 0.6s;
}

.change-color:hover {
  background: #FFF;
  color: #4E75FF;
  border-color: #4E75FF;
}

/*---------------------------*/

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 16px;
  margin: 0 auto;
  border-radius: 8px;
background: #F6F6FE;
max-width: 486px;
}

#controls > input {
  display: flex;
  padding: 8px 72px;
  gap: 10px;
  border-radius: 8px;
border: 1px solid #808080;
text-align: center;

color: #2E2F42;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
}

#controls > button {
  width: 120px;
padding: 8px 16px;
border-radius: 8px;
border: none;

color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
transition: background-color 0.6s;
}

[data-create] {
  background: #4E75FF;
}

[data-destroy] {
  background: #FF4E4E;
}

[data-create]:hover {
  background: #6C8CFF;
}

[data-destroy]:hover {
  background: #FF7070;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 12px auto;
  border-radius: 8px;
  gap: 10px;
  max-width: 486px;
  background: #F6F6FE;
}
